<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span>Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.transactions">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="T" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" > Transactions </span>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.account')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="T" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title"> Account </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.account.profile"> <span class="title"> Profile </span> </a>
            </li>
        </ul>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->